<section class="container">

    <div class="question-box">
        <img src="assets/img/logo-big.jpg" alt="" class="main-logo">
        <h2 class="main-title">Lorem ipsum dolor sit amet.</h2>
        <p class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit exercitationem eaque fuga aperiam illum, porro repellat nam aspernatur eius distinctio placeat obcaecati perferendis, dolor optio? Sequi exercitationem nisi architecto laborum.</p>
        <button class="btn-start" id="btn-start">Start</button>
    </div>


    
</section>

